<?xml version="1.0"?>
<config>
    <modules>
        <Wecko_Question>
        <version>0.1.0</version>
    </Wecko_Question>
    </modules>
    <frontend>
        <routers>
            <question>
                <use>standard</use>
                <args>
                    <module>Wecko_Question</module>
                    <frontName>question</frontName>
                </args>
            </question>
        </routers>
        <layout>
            <updates>
                <question>
                <file>question.xml</file>
                </question>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <question>
                <use>admin</use>
                <args>
                    <module>Wecko_Question</module>
                    <frontName>question</frontName>
                </args>
            </question>
        </routers>
    </admin>
    <global>
        <models>
            <question>
                <class>Wecko_Question_Model</class>
                <resourceModel>question_mysql4</resourceModel>
                <resourceModel>question_resource</resourceModel>
            </question>
            <question_mysql4>
                <class>Wecko_Question_Model_Mysql4</class>
                <entities>
                    <question>
                        <table>question</table>
                    </question>
                </entities>
            </question_mysql4>
        </models>
        <resources>
            <question_setup>
                <setup>
                    <module>Wecko_Question</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </question_setup>
            <question_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </question_write>
            <question_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </question_read>
        </resources>
        <blocks>
            <question>
                <class>Wecko_Question_Block</class>
            </question>
        </blocks>
        <helpers>
            <question>
                <class>Wecko_Question_Helper</class>
            </question>
        </helpers>
    </global>
</config>